<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="1 hours" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %5p _ %c{1}:%L - %m%n</pattern>
        </encoder>
        <immediateFlush>false</immediateFlush>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>